<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lleap_exo">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import lleap_exo urdf file -->
    <xacro:include filename="$(find exo_description)/urdf/lleap_exo.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="lleap_exo.ros2_control.xacro" />


    <xacro:lleap_exo_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
