<?xml version="1.0" encoding="utf-8" ?>
<!-- This file contains the joint limits for an exoskeleton leg. 
Currently only angle/position limits (degrees and radians) are described, but
  velocity, acceleration, effort, and other can be added later as appropriate.

TODO: decide if these values would be better off in a yaml config file or kept here. -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- 
    hip:  [-35, 126 ]   <- based on Tamar's measurements
    knee: [-96, 0]      <- based on Tamar's measurements
    ankle:[-45, 15]     <- based on normal human range; Tamar's ankles are fixed
  -->
  <xacro:property name="hip_lower_degrees" value="-35.0" />
  <xacro:property name="hip_upper_degrees" value="126.0" />
  <xacro:property name="knee_lower_degrees" value="-96.0" />
  <xacro:property name="knee_upper_degrees" value="0.0" />
  <xacro:property name="ankle_lower_degrees" value="-45.0" />
  <xacro:property name="ankle_upper_degrees" value="15.0" />

  <xacro:property name="hip_lower_radians" value="${hip_lower_degrees * pi / 180}" />
  <xacro:property name="hip_upper_radians" value="${hip_upper_degrees * pi / 180}" />
  <xacro:property name="knee_lower_radians" value="${knee_lower_degrees * pi / 180}" />
  <xacro:property name="knee_upper_radians" value="${knee_upper_degrees * pi / 180}" />
  <xacro:property name="ankle_lower_radians" value="${ankle_lower_degrees * pi / 180}" />
  <xacro:property name="ankle_upper_radians" value="${ankle_upper_degrees * pi / 180}" />

</robot>